<img src="static/img/co2.jpg.jpg" width="850" height="300">

## 1. Import des packages

In [19]:
# pip install pandas
# !pip install sodapy

In [20]:
import pandas as pd

from sqlalchemy import create_engine
from azure.identity import DefaultAzureCredential
from azure.appconfiguration import AzureAppConfigurationClient

## 2. Import du dataset

In [21]:
# # CSV file URL
# csv_path = 'data/2016_Building_Energy_Benchmarking.csv'

# # Read the CSV file into a DataFrame
# df = pd.read_csv(csv_path, encoding="utf8")

In [ ]:
import pandas as pd
from sodapy import Socrata

In [22]:
df["ComplianceStatus"].unique()

array(['Compliant', 'Error - Correct Default Data', 'Missing Data',
       'Non-Compliant'], dtype=object)

In [23]:
condition = df["ComplianceStatus"] == "something"

In [24]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df.tail(5)

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,Address,City,State,ZipCode,TaxParcelIdentificationNumber,CouncilDistrictCode,Neighborhood,Latitude,Longitude,YearBuilt,NumberofBuildings,NumberofFloors,PropertyGFATotal,PropertyGFAParking,PropertyGFABuilding(s),ListOfAllPropertyUseTypes,LargestPropertyUseType,LargestPropertyUseTypeGFA,SecondLargestPropertyUseType,SecondLargestPropertyUseTypeGFA,ThirdLargestPropertyUseType,ThirdLargestPropertyUseTypeGFA,YearsENERGYSTARCertified,ENERGYSTARScore,SiteEUI(kBtu/sf),SiteEUIWN(kBtu/sf),SourceEUI(kBtu/sf),SourceEUIWN(kBtu/sf),SiteEnergyUse(kBtu),SiteEnergyUseWN(kBtu),SteamUse(kBtu),Electricity(kWh),Electricity(kBtu),NaturalGas(therms),NaturalGas(kBtu),DefaultData,Comments,ComplianceStatus,Outlier,TotalGHGEmissions,GHGEmissionsIntensity
3371,50222,2016,Nonresidential COS,Office,Horticulture building,1600 S Dakota St,Seattle,WA,NaN,1624049080,2,GREATER DUWAMISH,47.56722,-122.31154,1990,1.0,1,12294,0,12294,Office,Office,12294.0,NaN,NaN,NaN,NaN,NaN,46.0,69.099998,76.699997,161.699997,176.100006,8.497457e+05,9.430032e+05,0.0,153655.0000,5.242709e+05,3254.750244,3.254750e+05,True,NaN,Error - Correct Default Data,NaN,20.94,1.70
3372,50223,2016,Nonresidential COS,Other,International district/Chinatown CC,719 8th Ave S,Seattle,WA,NaN,3558300000,2,DOWNTOWN,47.59625,-122.32283,2004,1.0,1,16000,0,16000,Other - Recreation,Other - Recreation,16000.0,NaN,NaN,NaN,NaN,NaN,NaN,59.400002,65.900002,114.199997,118.900002,9.502762e+05,1.053706e+06,0.0,116221.0000,3.965461e+05,5537.299805,5.537300e+05,False,NaN,Compliant,NaN,32.17,2.01
3373,50224,2016,Nonresidential COS,Other,Queen Anne Pool,1920 1st Ave W,Seattle,WA,NaN,1794501150,7,MAGNOLIA / QUEEN ANNE,47.63644,-122.35784,1974,1.0,1,13157,0,13157,"Fitness Center/Health Club/Gym, Other - Recrea...",Other - Recreation,7583.0,Fitness Center/Health Club/Gym,5574.0,Swimming Pool,0.0,NaN,NaN,438.200012,460.100006,744.799988,767.799988,5.765898e+06,6.053764e+06,0.0,525251.6875,1.792159e+06,39737.390630,3.973739e+06,False,NaN,Compliant,NaN,223.54,16.99
3374,50225,2016,Nonresidential COS,Mixed Use Property,South Park Community Center,8319 8th Ave S,Seattle,WA,NaN,7883603155,1,GREATER DUWAMISH,47.52832,-122.32431,1989,1.0,1,14101,0,14101,"Fitness Center/Health Club/Gym, Food Service, ...",Other - Recreation,6601.0,Fitness Center/Health Club/Gym,6501.0,Pre-school/Daycare,484.0,NaN,NaN,51.000000,55.500000,105.300003,110.800003,7.194712e+05,7.828413e+05,0.0,102248.0000,3.488702e+05,3706.010010,3.706010e+05,False,NaN,Compliant,NaN,22.11,1.57
3375,50226,2016,Nonresidential COS,Mixed Use Property,Van Asselt Community Center,2820 S Myrtle St,Seattle,WA,NaN,7857002030,2,GREATER DUWAMISH,47.53939,-122.29536,1938,1.0,1,18258,0,18258,"Fitness Center/Health Club/Gym, Food Service, ...",Other - Recreation,8271.0,Fitness Center/Health Club/Gym,8000.0,Pre-school/Daycare,1108.0,NaN,NaN,63.099998,70.900002,115.800003,123.900002,1.152896e+06,1.293722e+06,0.0,126774.3984,4.325542e+05,7203.419922,7.203420e+05,False,NaN,Compliant,NaN,41.27,2.26

### Remove rows where ComplianceStatus == 'Missing Data'

In [25]:
# Filter the DataFrame to exclude rows with 'Missing Data' in ComplianceStatus
df = df[df["ComplianceStatus"] != 'Missing Data']

In [26]:
df.columns

Index(['OSEBuildingID', 'DataYear', 'BuildingType', 'PrimaryPropertyType',
       'PropertyName', 'Address', 'City', 'State', 'ZipCode',
       'TaxParcelIdentificationNumber', 'CouncilDistrictCode', 'Neighborhood',
       'Latitude', 'Longitude', 'YearBuilt', 'NumberofBuildings',
       'NumberofFloors', 'PropertyGFATotal', 'PropertyGFAParking',
       'PropertyGFABuilding(s)', 'ListOfAllPropertyUseTypes',
       'LargestPropertyUseType', 'LargestPropertyUseTypeGFA',
       'SecondLargestPropertyUseType', 'SecondLargestPropertyUseTypeGFA',
       'ThirdLargestPropertyUseType', 'ThirdLargestPropertyUseTypeGFA',
       'YearsENERGYSTARCertified', 'ENERGYSTARScore', 'SiteEUI(kBtu/sf)',
       'SiteEUIWN(kBtu/sf)', 'SourceEUI(kBtu/sf)', 'SourceEUIWN(kBtu/sf)',
       'SiteEnergyUse(kBtu)', 'SiteEnergyUseWN(kBtu)', 'SteamUse(kBtu)',
       'Electricity(kWh)', 'Electricity(kBtu)', 'NaturalGas(therms)',
       'NaturalGas(kBtu)', 'DefaultData', 'Comments', 'ComplianceStatus',
       'Outlier', 'TotalGHGEmissions', 'GHGEmissionsIntensity'],
      dtype='object')

In [27]:

# Convert kBtu to kWh in the Electricity column
df["Electricity(kWh)"] = df["Electricity(kBtu)"] * 0.29307107
# Convert kBtu to kWh in the SteamUse column
df['SteamUse(kWh)'] = df['SteamUse(kBtu)'] * 0.29307107
# Convert kBtu to kWh in the SteamUse column
df['NaturalGas(kWh)'] = df['NaturalGas(kBtu)'] * 0.29307107
# Convert kBtu to kWh in the SteamUse column
df['SiteEnergyUse(kWh)'] = df['SiteEnergyUse(kBtu)'] * 0.29307107
# Convert sqrt feet in m²
df['PropertyGFABuilding(s)'] = df['PropertyGFABuilding(s)'] * 0.092903

In [28]:
# Convert the SiteEnergyUse column to the desired format
df["SiteEnergyUse(kWh)"] = df["SiteEnergyUse(kWh)"].apply(lambda x: "{:.2f}".format(x))
# Convert the Electricity(kWh) column to the desired format
df["Electricity(kWh)"] = df["Electricity(kWh)"].apply(lambda x: "{:.2f}".format(x))
# Convert the SteamUse(kWh) column to the desired format
df["SteamUse(kWh)"] = df["SteamUse(kWh)"].apply(lambda x: "{:.2f}".format(x))
# Convert the NaturalGas(kWh) column to the desired format
df["NaturalGas(kWh)"] = df["NaturalGas(kWh)"].apply(lambda x: "{:.2f}".format(x))
# Convert the PropertyGFABuilding(s) column to the desired format
df["PropertyGFABuilding(s)"] = df["PropertyGFABuilding(s)"].apply(lambda x: "{:.2f}".format(x))

In [29]:
# Convert the SiteEnergyUse column to float format
df["SiteEnergyUse(kWh)"] = df["SiteEnergyUse(kWh)"].astype(float)
# Convert the Electricity(kWh) column to float format
df["Electricity(kWh)"] = df["Electricity(kWh)"].astype(float)
# Convert the SteamUse(kWh) column to float format
df["SteamUse(kWh)"] = df["SteamUse(kWh)"].astype(float)
# Convert the NaturalGas(kWh) column to float format
df["NaturalGas(kWh)"] = df["NaturalGas(kWh)"].astype(float)
# Convert the PropertyGFABuilding(s) column to float format
df["PropertyGFABuilding(s)"] = df["PropertyGFABuilding(s)"].astype(float)

In [30]:
df = df[['DataYear', 'BuildingType', 'PrimaryPropertyType','PropertyName', 'City', 'Latitude',
        'Longitude', 'YearBuilt', 'NumberofFloors', 'PropertyGFABuilding(s)', 'ListOfAllPropertyUseTypes',
        'SteamUse(kWh)', 'Electricity(kWh)', 'NaturalGas(kWh)',  'TotalGHGEmissions', 'SiteEnergyUse(kWh)']]

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3361 entries, 0 to 3375
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   DataYear                   3361 non-null   int64
 1   BuildingType               3361 non-null   object
 2   PrimaryPropertyType        3361 non-null   object
 3   PropertyName               3361 non-null   object
 4   City                       3361 non-null   object
 5   Latitude                   3361 non-null   float64
 6   Longitude                  3361 non-null   float64
 7   YearBuilt                  3361 non-null   int64
 8   NumberofFloors             3361 non-null   int64
 9   PropertyGFABuilding(s)     3361 non-null   float64
 10  ListOfAllPropertyUseTypes  3352 non-null   object
 11  SteamUse(kWh)              3352 non-null   float64
 12  Electricity(kWh)           3352 non-null   float64
 13  NaturalGas(kWh)            3352 non-null   float64
 14  TotalGHGEmissions          3352 non-null   float64
 15  SiteEnergyUse(kWh)         3356 non-null   float64
dtypes: float64(8), int64(3), object(5)
memory usage: 446.4+ KB

In [32]:
# df["ComplianceStatus"].unique()

In [33]:
df.shape

(3361, 16)

In [34]:
df.head(3)

,DataYear,BuildingType,PrimaryPropertyType,PropertyName,City,Latitude,Longitude,YearBuilt,NumberofFloors,PropertyGFABuilding(s),ListOfAllPropertyUseTypes,SteamUse(kWh),Electricity(kWh),NaturalGas(kWh),TotalGHGEmissions,SiteEnergyUse(kWh)
0,2016,NonResidential,Hotel,Mayflower park hotel,Seattle,47.61220,-122.33799,1927,12,8215.78,Hotel,587279.84,1156466.36,374091.45,249.98,2117837.79
1,2016,NonResidential,Hotel,Paramount Hotel,Seattle,47.61317,-122.33393,1996,11,8222.10,"Hotel, Parking, Restaurant",0.00,950385.81,1507874.69,295.86,2458260.50
2,2016,NonResidential,Hotel,5673-The Westin Seattle,Seattle,47.61393,-122.33810,1969,41,70549.79,Hotel,6320533.06,14514832.41,437789.56,2089.28,21273156.79

## Database Loading data

In [35]:
# Create the AzureAppConfiguration client
credential = DefaultAzureCredential()
appconfig_conn_str = "Endpoint=https://app-co2-config.azconfig.io;Id=8/Iv;Secret=8qfVLXI2aDt1Wg0jPMnCLx5lHIDvdAuzucBti8of7+M="
appconfig_client = AzureAppConfigurationClient.from_connection_string(connection_string=appconfig_conn_str)

# Retrieve the connection string from Azure App Configuration
setting = appconfig_client.get_configuration_setting(key="pg-connect-string")
secret_value = setting.value

In [36]:
# Create the SQLAlchemy engine
engine = create_engine(secret_value)
print(engine)

# Specify the table name
table_name = 'co2_dataset'

# Append the DataFrame to the database table
df.to_sql(table_name, engine, if_exists='append', index=False)

print("Data has been successfully appended to the table.")

Engine(postgresql://MaudTarikDevIa2:***@co2-tm-devia2.postgres.database.azure.com/co2_tm?sslmode=require)
Data has been successfully appended to the table.