# Cr√©ation table nettoyage chargement

In [3]:
import pandas as pd
import numpy as np

from sqlalchemy import create_engine, types
from azure.identity import DefaultAzureCredential
from azure.appconfiguration import AzureAppConfigurationClient

import pandas as pd
from sodapy import Socrata

## 2. Import du dataset connection api seattle data

In [4]:
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.seattle.gov", None)
# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("2bpz-gwpy", limit=5000)

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# Convert to pandas DataFrame
df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [5]:
df.shape

(3376, 45)

In [6]:
df.head(3)

,osebuildingid,datayear,buildingtype,primarypropertytype,propertyname,address,city,state,zipcode,taxparcelidentificationnumber,councildistrictcode,neighborhood,latitude,longitude,yearbuilt,numberofbuildings,numberoffloors,propertygfatotal,propertygfaparking,propertygfabuilding_s,listofallpropertyusetypes,largestpropertyusetype,largestpropertyusetypegfa,energystarscore,siteeui_kbtu_sf,siteeuiwn_kbtu_sf,sourceeui_kbtu_sf,sourceeuiwn_kbtu_sf,siteenergyuse_kbtu,siteenergyusewn_kbtu,steamuse_kbtu,electricity_kwh,electricity_kbtu,naturalgas_therms,naturalgas_kbtu,defaultdata,compliancestatus,totalghgemissions,ghgemissionsintensity,secondlargestpropertyusetype,secondlargestpropertyuse,thirdlargestpropertyusetype,thirdlargestpropertyusetypegfa,yearsenergystarcertified,outlier
0,1,2016,NonResidential,Hotel,Mayflower park hotel,405 Olive way,Seattle,WA,98101,0659000030,7,DOWNTOWN,47.6122,-122.33799,1927,1,12,88434,0,88434,Hotel,Hotel,88434,60,81.69999695,84.30000305,182.5,189,7226362.5,7456910,2003882,1156514.25,3946027,12764.5293,1276453,False,Compliant,249.98,2.83,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2016,NonResidential,Hotel,Paramount Hotel,724 Pine street,Seattle,WA,98101,0659000220,7,DOWNTOWN,47.61317,-122.33393,1996,1,11,103566,15064,88502,"Hotel, Parking, Restaurant",Hotel,83880,61,94.80000305,97.90000153,176.1000061,179.3999939,8387933,8664479,0,950425.1875,3242851,51450.81641,5145082,False,Compliant,295.86,2.86,Parking,15064,Restaurant,4622,NaN,NaN
2,3,2016,NonResidential,Hotel,5673-The Westin Seattle,1900 5th Avenue,Seattle,WA,98101,0659000475,7,DOWNTOWN,47.61393,-122.3381,1969,1,41,956110,196718,759392,Hotel,Hotel,756493,43,96,97.69999695,241.8999939,244.1000061,72587024,73937112,21566554,14515435,49526664,14938,1493800,False,Compliant,2089.28,2.19,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.columns

Index(['osebuildingid', 'datayear', 'buildingtype', 'primarypropertytype',
       'propertyname', 'address', 'city', 'state', 'zipcode',
       'taxparcelidentificationnumber', 'councildistrictcode', 'neighborhood',
       'latitude', 'longitude', 'yearbuilt', 'numberofbuildings',
       'numberoffloors', 'propertygfatotal', 'propertygfaparking',
       'propertygfabuilding_s', 'listofallpropertyusetypes',
       'largestpropertyusetype', 'largestpropertyusetypegfa',
       'energystarscore', 'siteeui_kbtu_sf', 'siteeuiwn_kbtu_sf',
       'sourceeui_kbtu_sf', 'sourceeuiwn_kbtu_sf', 'siteenergyuse_kbtu',
       'siteenergyusewn_kbtu', 'steamuse_kbtu', 'electricity_kwh',
       'electricity_kbtu', 'naturalgas_therms', 'naturalgas_kbtu',
       'defaultdata', 'compliancestatus', 'totalghgemissions',
       'ghgemissionsintensity', 'secondlargestpropertyusetype',
       'secondlargestpropertyuse', 'thirdlargestpropertyusetype',
       'thirdlargestpropertyusetypegfa', 'yearsenergystarcertified',
       'outlier'],
      dtype='object')

In [8]:
# Iterate over the columns and calculate the maximum length
max_len = {}
for column in df.columns:
    max_len[column] = df[column].astype(str).str.len().max()

# Print the maximum length for each column
for column, length in max_len.items():
    print(f"{column}: {length}")

osebuildingid: 5
datayear: 4
buildingtype: 20
primarypropertytype: 27
propertyname: 72
address: 41
city: 7
state: 2
zipcode: 5
taxparcelidentificationnumber: 25
councildistrictcode: 1
neighborhood: 22
latitude: 11
longitude: 12
yearbuilt: 4
numberofbuildings: 3
numberoffloors: 2
propertygfatotal: 7
propertygfaparking: 6
propertygfabuilding_s: 7
listofallpropertyusetypes: 255
largestpropertyusetype: 52
largestpropertyusetypegfa: 7
energystarscore: 4
siteeui_kbtu_sf: 11
siteeuiwn_kbtu_sf: 11
sourceeui_kbtu_sf: 11
sourceeuiwn_kbtu_sf: 12
siteenergyuse_kbtu: 11
siteenergyusewn_kbtu: 11
steamuse_kbtu: 11
electricity_kwh: 12
electricity_kbtu: 11
naturalgas_therms: 11
naturalgas_kbtu: 11
defaultdata: 5
compliancestatus: 28
totalghgemissions: 8
ghgemissionsintensity: 5
secondlargestpropertyusetype: 52
secondlargestpropertyuse: 11
thirdlargestpropertyusetype: 52
thirdlargestpropertyusetypegfa: 11
yearsenergystarcertified: 60
outlier: 12

In [9]:
# fill Nan Null with np.nan
df = df.fillna(np.nan)
# Replace "NULL" with np.nan in your data
df = df.replace("NULL", np.nan)

In [10]:
# Define the data types for each column
data_types = {
    'osebuildingid': types.Integer().with_variant(types.Integer, "postgresql"),
    'datayear': types.SmallInteger,
    'buildingtype': types.String(length=20),
    'primarypropertytype': types.String(length=27),
    'propertyname': types.String(length=72),
    'address': types.String(length=41),
    'city': types.String(length=7),
    'state': types.String(length=2),
    'zipcode': types.String(length=5),
    'taxparcelidentificationnumber': types.String(length=25),
    'councildistrictcode': types.SmallInteger,
    'neighborhood': types.String(length=22),
    'latitude': types.Float,
    'longitude': types.Float,
    'yearbuilt': types.SmallInteger,
    'numberofbuildings': types.SmallInteger,
    'numberoffloors': types.SmallInteger,
    'propertygfatotal': types.Integer,
    'propertygfaparking': types.Integer,
    'propertygfabuilding_s': types.Integer,
    'listofallpropertyusetypes': types.String(length=255),
    'largestpropertyusetype': types.String(length=52),
    'largestpropertyusetypegfa': types.Integer,
    'energystarscore': types.Float,
    'siteeui_kbtu_sf': types.Float,
    'siteeuiwn_kbtu_sf': types.Float,
    'sourceeui_kbtu_sf': types.Float,
    'sourceeuiwn_kbtu_sf': types.Float,
    'siteenergyuse_kbtu': types.Float,
    'siteenergyusewn_kbtu': types.Float,
    'steamuse_kbtu': types.Float,
    'electricity_kwh': types.Float,
    'electricity_kbtu': types.Float,
    'naturalgas_therms': types.Float,
    'naturalgas_kbtu': types.Float,
    'defaultdata': types.String(length=5),
    'compliancestatus': types.String(length=28),
    'totalghgemissions': types.Float,
    'ghgemissionsintensity': types.Float,
    'secondlargestpropertyusetype': types.String(length=52),
    'secondlargestpropertyuse': types.Float,
    'thirdlargestpropertyusetype': types.String(length=52),
    'thirdlargestpropertyusetypegfa': types.Float,
    'yearsenergystarcertified': types.String(length=60),
    'outlier': types.String(length=12)
}

In [12]:
# Define the data types for each column
data_types_pandas = {
    'osebuildingid': pd.Int64Dtype(),
    'datayear': pd.Int16Dtype(),
    'buildingtype': 'string',
    'primarypropertytype': 'string',
    'propertyname': 'string',
    'address': 'string',
    'city': 'string',
    'state': 'string',
    'zipcode': 'string',
    'taxparcelidentificationnumber': 'string',
    'councildistrictcode': pd.Int8Dtype(),
    'neighborhood': 'string',
    'latitude': 'float',
    'longitude': 'float',
    'yearbuilt': pd.Int16Dtype(),
    'numberofbuildings': pd.Int8Dtype(),
    'numberoffloors': pd.Int8Dtype(),
    'propertygfatotal': pd.Int32Dtype(),
    'propertygfaparking': pd.Int32Dtype(),
    'propertygfabuilding_s': pd.Int32Dtype(),
    'listofallpropertyusetypes': 'string',
    'largestpropertyusetype': 'string',
    'largestpropertyusetypegfa': pd.Int32Dtype(),
    'energystarscore': 'float',
    'siteeui_kbtu_sf': 'float',
    'siteeuiwn_kbtu_sf': 'float',
    'sourceeui_kbtu_sf': 'float',
    'sourceeuiwn_kbtu_sf': 'float',
    'siteenergyuse_kbtu': 'float',
    'siteenergyusewn_kbtu': 'float',
    'steamuse_kbtu': 'float',
    'electricity_kwh': 'float',
    'electricity_kbtu': 'float',
    'naturalgas_therms': 'float',
    'naturalgas_kbtu': 'float',
    'defaultdata': 'string',
    'compliancestatus': 'string',
    'totalghgemissions': 'float',
    'ghgemissionsintensity': 'float',
    'secondlargestpropertyusetype': 'string',
    'secondlargestpropertyuse': 'float',
    'thirdlargestpropertyusetype': 'string',
    'thirdlargestpropertyusetypegfa': 'float',
    'yearsenergystarcertified': 'string',
    'outlier': 'string'
}

# Convert the column data types
df = df.astype(data_types_pandas)

In [13]:

df_num = df.select_dtypes(include='number')

In [14]:
df.astype(str).describe()

,osebuildingid,datayear,buildingtype,primarypropertytype,propertyname,address,city,state,zipcode,taxparcelidentificationnumber,councildistrictcode,neighborhood,latitude,longitude,yearbuilt,numberofbuildings,numberoffloors,propertygfatotal,propertygfaparking,propertygfabuilding_s,listofallpropertyusetypes,largestpropertyusetype,largestpropertyusetypegfa,energystarscore,siteeui_kbtu_sf,siteeuiwn_kbtu_sf,sourceeui_kbtu_sf,sourceeuiwn_kbtu_sf,siteenergyuse_kbtu,siteenergyusewn_kbtu,steamuse_kbtu,electricity_kwh,electricity_kbtu,naturalgas_therms,naturalgas_kbtu,defaultdata,compliancestatus,totalghgemissions,ghgemissionsintensity,secondlargestpropertyusetype,secondlargestpropertyuse,thirdlargestpropertyusetype,thirdlargestpropertyusetypegfa,yearsenergystarcertified,outlier
count,3376,3376,3376,3376,3376,3376,3376,3376,3376,3376,3376,3376,3376,3376,3376,3376,3376,3376,3376,3376,3376,3376,3376,3376,3376,3376,3376,3376,3376,3376,3376,3376,3376,3376,3376,3376,3376,3376,3376,3376,3376,3376,3376,3376,3376
unique,3376,1,8,24,3362,3354,1,1,56,3268,7,19,2876,2656,113,18,50,3195,496,3193,467,57,3123,101,1086,1106,1649,1695,3355,3342,132,3353,3352,2110,2110,2,4,2819,512,51,1353,45,502,66,3
top,1,2016,NonResidential,Low-Rise Multifamily,Northgate Plaza,2600 SW Barton St,Seattle,WA,98109,1625049001,7,DOWNTOWN,47.66246,-122.29898,2000,1,4,36000,0,36000,Multifamily Housing,Multifamily Housing,<NA>,nan,24.70000076,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False,Compliant,0.0,0.17,<NA>,nan,<NA>,nan,<NA>,<NA>
freq,1,3376,1460,987,3,4,3376,3376,294,8,1037,573,9,8,72,3175,692,9,2872,9,866,1667,20,843,17,29,24,36,18,29,3237,14,14,1258,1258,3263,3211,9,99,1697,1697,2780,2780,3257,3344

In [15]:
df_num.describe()

,osebuildingid,datayear,councildistrictcode,latitude,longitude,yearbuilt,numberofbuildings,numberoffloors,propertygfatotal,propertygfaparking,propertygfabuilding_s,largestpropertyusetypegfa,energystarscore,siteeui_kbtu_sf,siteeuiwn_kbtu_sf,sourceeui_kbtu_sf,sourceeuiwn_kbtu_sf,siteenergyuse_kbtu,siteenergyusewn_kbtu,steamuse_kbtu,electricity_kwh,electricity_kbtu,naturalgas_therms,naturalgas_kbtu,totalghgemissions,ghgemissionsintensity,secondlargestpropertyuse,thirdlargestpropertyusetypegfa
count,3376.0,3376.0,3376.0,3376.000000,3376.000000,3376.0,3368.0,3376.0,3376.0,3376.0,3376.0,3356.0,2533.000000,3369.000000,3370.000000,3367.000000,3367.000000,3.371000e+03,3.370000e+03,3.367000e+03,3.367000e+03,3.367000e+03,3.367000e+03,3.367000e+03,3367.000000,3367.000000,1679.000000,596.000000
mean,21208.991114,2016.0,4.439277,47.624033,-122.334795,1968.573164,1.106888,4.709123,94833.537322,8001.526066,86832.011256,79177.638558,67.918674,54.732116,57.033798,134.232848,137.783932,5.403667e+06,5.276726e+06,2.745959e+05,1.086639e+06,3.707612e+06,1.368505e+04,1.368505e+06,119.723971,1.175916,28444.075817,11738.675166
std,12223.757015,0.0,2.120625,0.047758,0.027203,33.088156,2.108402,5.494465,218837.60712,32326.723928,207939.811923,201703.407492,26.873271,56.273124,57.163330,139.287554,139.109807,2.161063e+07,1.593879e+07,3.912173e+06,4.352478e+06,1.485066e+07,6.709781e+04,6.709781e+06,538.832227,1.821452,54392.917928,29331.199286
min,1.0,2016.0,1.0,47.499170,-122.414250,1900.0,0.0,0.0,11285.0,0.0,3636.0,5656.0,1.000000,0.000000,0.000000,0.000000,-2.100000,0.000000e+00,0.000000e+00,0.000000e+00,-3.382680e+04,-1.154170e+05,0.000000e+00,0.000000e+00,-0.800000,-0.020000,0.000000,0.000000
25%,19990.75,2016.0,3.0,47.599860,-122.350662,1948.0,1.0,2.0,28487.0,0.0,27756.0,25094.75,53.000000,27.900000,29.400000,74.699997,78.400002,9.251286e+05,9.701822e+05,0.000000e+00,1.874229e+05,6.394870e+05,0.000000e+00,0.000000e+00,9.495000,0.210000,5000.000000,2239.000000
50%,23112.0,2016.0,4.0,47.618675,-122.332495,1975.0,1.0,4.0,44175.0,0.0,43216.0,39894.0,75.000000,38.599998,40.900002,96.199997,101.099998,1.803753e+06,1.904452e+06,0.000000e+00,3.451299e+05,1.177583e+06,3.237538e+03,3.237540e+05,33.920000,0.610000,10664.000000,5043.000000
75%,25994.25,2016.0,7.0,47.657115,-122.319407,1997.0,1.0,5.0,90992.0,0.0,84276.25,76200.25,90.000000,60.400002,64.275002,143.899994,148.349998,4.222455e+06,4.381429e+06,0.000000e+00,8.293178e+05,2.829632e+06,1.189033e+04,1.189034e+06,93.940000,1.370000,26640.000000,10138.750000
max,50226.0,2016.0,7.0,47.733870,-122.220966,2015.0,111.0,99.0,9320156.0,512608.0,9320156.0,9320156.0,100.000000,834.400024,834.400024,2620.000000,2620.000000,8.739237e+08,4.716139e+08,1.349435e+08,1.925775e+08,6.570744e+08,2.979090e+06,2.979090e+08,16870.980000,34.090000,686750.000000,459748.000000

## Database Loading data

In [16]:
# Create the AzureAppConfiguration client
credential = DefaultAzureCredential()
appconfig_conn_str = "Endpoint=https://app-co2-config.azconfig.io;Id=8/Iv;Secret=8qfVLXI2aDt1Wg0jPMnCLx5lHIDvdAuzucBti8of7+M="
appconfig_client = AzureAppConfigurationClient.from_connection_string(connection_string=appconfig_conn_str)

# Retrieve the connection string from Azure App Configuration
setting = appconfig_client.get_configuration_setting(key="pg-connect-string")
secret_value = setting.value

# Create the SQLAlchemy engine
engine = create_engine(secret_value)
print(engine)

# Specify the table name
table_name = 'sod_origin_tm'

# Convert the DataFrame to SQL and send it to the database
df.to_sql(table_name, engine, if_exists='replace', index=False, dtype=data_types)


print("Data has been successfully appended to the table.")

# Close the database connection
engine.dispose()

Engine(postgresql://MaudTarikDevIa2:***@co2-tm-devia2.postgres.database.azure.com/co2_tm?sslmode=require)
Data has been successfully appended to the table.

In [17]:
data = df

In [31]:
for col in df_num.iloc[:, 19:22]:
  # Perform operations on each column
  print(df_num[col].name)

steamuse_kbtu
electricity_kwh
electricity_kbtu