# Cr√©ation table nettoyage chargement

In [80]:
import pandas as pd
import numpy as np

from sqlalchemy import create_engine, types
from azure.identity import DefaultAzureCredential
from azure.appconfiguration import AzureAppConfigurationClient

import pandas as pd
from sodapy import Socrata

## 2. Import du dataset connection api seattle data

In [81]:
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.seattle.gov", None)
# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("2bpz-gwpy", limit=5000)

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# Convert to pandas DataFrame
df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [82]:
df.shape

(3376, 45)

In [83]:
df.head(3)

,osebuildingid,datayear,buildingtype,primarypropertytype,propertyname,address,city,state,zipcode,taxparcelidentificationnumber,councildistrictcode,neighborhood,latitude,longitude,yearbuilt,numberofbuildings,numberoffloors,propertygfatotal,propertygfaparking,propertygfabuilding_s,listofallpropertyusetypes,largestpropertyusetype,largestpropertyusetypegfa,energystarscore,siteeui_kbtu_sf,siteeuiwn_kbtu_sf,sourceeui_kbtu_sf,sourceeuiwn_kbtu_sf,siteenergyuse_kbtu,siteenergyusewn_kbtu,steamuse_kbtu,electricity_kwh,electricity_kbtu,naturalgas_therms,naturalgas_kbtu,defaultdata,compliancestatus,totalghgemissions,ghgemissionsintensity,secondlargestpropertyusetype,secondlargestpropertyuse,thirdlargestpropertyusetype,thirdlargestpropertyusetypegfa,yearsenergystarcertified,outlier
0,1,2016,NonResidential,Hotel,Mayflower park hotel,405 Olive way,Seattle,WA,98101,0659000030,7,DOWNTOWN,47.6122,-122.33799,1927,1,12,88434,0,88434,Hotel,Hotel,88434,60,81.69999695,84.30000305,182.5,189,7226362.5,7456910,2003882,1156514.25,3946027,12764.5293,1276453,False,Compliant,249.98,2.83,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2016,NonResidential,Hotel,Paramount Hotel,724 Pine street,Seattle,WA,98101,0659000220,7,DOWNTOWN,47.61317,-122.33393,1996,1,11,103566,15064,88502,"Hotel, Parking, Restaurant",Hotel,83880,61,94.80000305,97.90000153,176.1000061,179.3999939,8387933,8664479,0,950425.1875,3242851,51450.81641,5145082,False,Compliant,295.86,2.86,Parking,15064,Restaurant,4622,NaN,NaN
2,3,2016,NonResidential,Hotel,5673-The Westin Seattle,1900 5th Avenue,Seattle,WA,98101,0659000475,7,DOWNTOWN,47.61393,-122.3381,1969,1,41,956110,196718,759392,Hotel,Hotel,756493,43,96,97.69999695,241.8999939,244.1000061,72587024,73937112,21566554,14515435,49526664,14938,1493800,False,Compliant,2089.28,2.19,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
df.columns

Index(['osebuildingid', 'datayear', 'buildingtype', 'primarypropertytype',
       'propertyname', 'address', 'city', 'state', 'zipcode',
       'taxparcelidentificationnumber', 'councildistrictcode', 'neighborhood',
       'latitude', 'longitude', 'yearbuilt', 'numberofbuildings',
       'numberoffloors', 'propertygfatotal', 'propertygfaparking',
       'propertygfabuilding_s', 'listofallpropertyusetypes',
       'largestpropertyusetype', 'largestpropertyusetypegfa',
       'energystarscore', 'siteeui_kbtu_sf', 'siteeuiwn_kbtu_sf',
       'sourceeui_kbtu_sf', 'sourceeuiwn_kbtu_sf', 'siteenergyuse_kbtu',
       'siteenergyusewn_kbtu', 'steamuse_kbtu', 'electricity_kwh',
       'electricity_kbtu', 'naturalgas_therms', 'naturalgas_kbtu',
       'defaultdata', 'compliancestatus', 'totalghgemissions',
       'ghgemissionsintensity', 'secondlargestpropertyusetype',
       'secondlargestpropertyuse', 'thirdlargestpropertyusetype',
       'thirdlargestpropertyusetypegfa', 'yearsenergystarcertified',
       'outlier'],
      dtype='object')

In [85]:
# Iterate over the columns and calculate the maximum length
max_len = {}
for column in df.columns:
    max_len[column] = df[column].astype(str).str.len().max()

# Print the maximum length for each column
for column, length in max_len.items():
    print(f"{column}: {length}")

osebuildingid: 5
datayear: 4
buildingtype: 20
primarypropertytype: 27
propertyname: 72
address: 41
city: 7
state: 2
zipcode: 5
taxparcelidentificationnumber: 25
councildistrictcode: 1
neighborhood: 22
latitude: 11
longitude: 12
yearbuilt: 4
numberofbuildings: 3
numberoffloors: 2
propertygfatotal: 7
propertygfaparking: 6
propertygfabuilding_s: 7
listofallpropertyusetypes: 255
largestpropertyusetype: 52
largestpropertyusetypegfa: 7
energystarscore: 4
siteeui_kbtu_sf: 11
siteeuiwn_kbtu_sf: 11
sourceeui_kbtu_sf: 11
sourceeuiwn_kbtu_sf: 12
siteenergyuse_kbtu: 11
siteenergyusewn_kbtu: 11
steamuse_kbtu: 11
electricity_kwh: 12
electricity_kbtu: 11
naturalgas_therms: 11
naturalgas_kbtu: 11
defaultdata: 5
compliancestatus: 28
totalghgemissions: 8
ghgemissionsintensity: 5
secondlargestpropertyusetype: 52
secondlargestpropertyuse: 11
thirdlargestpropertyusetype: 52
thirdlargestpropertyusetypegfa: 11
yearsenergystarcertified: 60
outlier: 12

In [86]:
# fill Nan Null with np.nan
df = df.fillna(np.nan)
# Replace "NULL" with np.nan in your data
df = df.replace("NULL", np.nan)

In [87]:
# Define the data types for each column
data_types = {
    'osebuildingid': types.Integer().with_variant(types.Integer, "postgresql"),
    'datayear': types.SmallInteger,
    'buildingtype': types.String(length=20),
    'primarypropertytype': types.String(length=27),
    'propertyname': types.String(length=72),
    'address': types.String(length=41),
    'city': types.String(length=7),
    'state': types.String(length=2),
    'zipcode': types.String(length=5),
    'taxparcelidentificationnumber': types.String(length=25),
    'councildistrictcode': types.SmallInteger,
    'neighborhood': types.String(length=22),
    'latitude': types.Float,
    'longitude': types.Float,
    'yearbuilt': types.SmallInteger,
    'numberofbuildings': types.SmallInteger,
    'numberoffloors': types.SmallInteger,
    'propertygfatotal': types.Integer,
    'propertygfaparking': types.Integer,
    'propertygfabuilding_s': types.Integer,
    'listofallpropertyusetypes': types.String(length=255),
    'largestpropertyusetype': types.String(length=52),
    'largestpropertyusetypegfa': types.Integer,
    'energystarscore': types.Float,
    'siteeui_kbtu_sf': types.Float,
    'siteeuiwn_kbtu_sf': types.Float,
    'sourceeui_kbtu_sf': types.Float,
    'sourceeuiwn_kbtu_sf': types.Float,
    'siteenergyuse_kbtu': types.Float,
    'siteenergyusewn_kbtu': types.Float,
    'steamuse_kbtu': types.Float,
    'electricity_kwh': types.Float,
    'electricity_kbtu': types.Float,
    'naturalgas_therms': types.Float,
    'naturalgas_kbtu': types.Float,
    'defaultdata': types.String(length=5),
    'compliancestatus': types.String(length=28),
    'totalghgemissions': types.Float,
    'ghgemissionsintensity': types.Float,
    'secondlargestpropertyusetype': types.String(length=52),
    'secondlargestpropertyuse': types.Float,
    'thirdlargestpropertyusetype': types.String(length=52),
    'thirdlargestpropertyusetypegfa': types.Float,
    'yearsenergystarcertified': types.String(length=60),
    'outlier': types.String(length=12)
}

## Database Loading data

In [88]:
# Create the AzureAppConfiguration client
credential = DefaultAzureCredential()
appconfig_conn_str = "Endpoint=https://app-co2-config.azconfig.io;Id=8/Iv;Secret=8qfVLXI2aDt1Wg0jPMnCLx5lHIDvdAuzucBti8of7+M="
appconfig_client = AzureAppConfigurationClient.from_connection_string(connection_string=appconfig_conn_str)

# Retrieve the connection string from Azure App Configuration
setting = appconfig_client.get_configuration_setting(key="pg-connect-string")
secret_value = setting.value

# Create the SQLAlchemy engine
engine = create_engine(secret_value)
print(engine)

# Specify the table name
table_name = 'sod_origin_tm'

# Convert the DataFrame to SQL and send it to the database
df.to_sql(table_name, engine, if_exists='append', index=False, dtype=data_types)


print("Data has been successfully appended to the table.")

# Close the database connection
engine.dispose()

Engine(postgresql://MaudTarikDevIa2:***@co2-tm-devia2.postgres.database.azure.com/co2_tm?sslmode=require)

DataError: (psycopg2.errors.InvalidTextRepresentation) invalid input syntax for type double precision: "NULL"
LINE 1: ...', '106003', 'Other, Parking', 'Other', '106003', 'NULL', '1...
                                                             ^

[SQL: INSERT INTO sod_origin_tm (osebuildingid, datayear, buildingtype, primarypropertytype, propertyname, address, city, state, zipcode, taxparcelidentificationnumber, councildistrictcode, neighborhood, latitude, longitude, yearbuilt, numberofbuildings, n ... 888535 characters truncated ... 725)s, %(thirdlargestpropertyusetypegfa__725)s, %(yearsenergystarcertified__725)s, %(outlier__725)s)]
[parameters: {'thirdlargestpropertyusetype__0': None, 'taxparcelidentificationnumber__0': '0659000030', 'longitude__0': '-122.33799', 'primarypropertytype__0': 'Hotel', 'secondlargestpropertyuse__0': None, 'zipcode__0': '98101', 'outlier__0': None, 'naturalgas_therms__0': '12764.5293', 'totalghgemissions__0': '249.98', 'siteenergyuse_kbtu__0': '7226362.5', 'osebuildingid__0': '1', 'siteeui_kbtu_sf__0': '81.69999695', 'sourceeuiwn_kbtu_sf__0': '189', 'steamuse_kbtu__0': '2003882', 'numberoffloors__0': '12', 'buildingtype__0': 'NonResidential', 'defaultdata__0': False, 'propertygfabuilding_s__0': '88434', 'naturalgas_kbtu__0': '1276453', 'yearsenergystarcertified__0': None, 'largestpropertyusetypegfa__0': '88434', 'thirdlargestpropertyusetypegfa__0': None, 'neighborhood__0': 'DOWNTOWN', 'electricity_kbtu__0': '3946027', 'sourceeui_kbtu_sf__0': '182.5', 'address__0': '405 Olive way', 'compliancestatus__0': 'Compliant', 'propertygfaparking__0': '0', 'siteeuiwn_kbtu_sf__0': '84.30000305', 'councildistrictcode__0': '7', 'listofallpropertyusetypes__0': 'Hotel', 'electricity_kwh__0': '1156514.25', 'datayear__0': '2016', 'energystarscore__0': '60', 'state__0': 'WA', 'siteenergyusewn_kbtu__0': '7456910', 'latitude__0': '47.6122', 'secondlargestpropertyusetype__0': None, 'yearbuilt__0': '1927', 'propertygfatotal__0': '88434', 'ghgemissionsintensity__0': '2.83', 'propertyname__0': 'Mayflower park hotel', 'numberofbuildings__0': '1', 'city__0': 'Seattle', 'largestpropertyusetype__0': 'Hotel', 'thirdlargestpropertyusetype__1': 'Restaurant', 'taxparcelidentificationnumber__1': '0659000220', 'longitude__1': '-122.33393', 'primarypropertytype__1': 'Hotel', 'secondlargestpropertyuse__1': '15064' ... 32570 parameters truncated ... 'ghgemissionsintensity__724': '0.13', 'propertyname__724': 'Beach Drive', 'numberofbuildings__724': '1', 'city__724': 'Seattle', 'largestpropertyusetype__724': 'Multifamily Housing', 'thirdlargestpropertyusetype__725': None, 'taxparcelidentificationnumber__725': '0625049048', 'longitude__725': '-122.3423', 'primarypropertytype__725': 'K-12 School', 'secondlargestpropertyuse__725': None, 'zipcode__725': '98103', 'outlier__725': None, 'naturalgas_therms__725': '14717.55859', 'totalghgemissions__725': '83.59', 'siteenergyuse_kbtu__725': '2249592.5', 'osebuildingid__725': '19728', 'siteeui_kbtu_sf__725': '48.79999924', 'sourceeuiwn_kbtu_sf__725': '96.30000305', 'steamuse_kbtu__725': '0', 'numberoffloors__725': '2', 'buildingtype__725': 'SPS-District K-12', 'defaultdata__725': True, 'propertygfabuilding_s__725': '47602', 'naturalgas_kbtu__725': '1471756', 'yearsenergystarcertified__725': None, 'largestpropertyusetypegfa__725': '46066', 'thirdlargestpropertyusetypegfa__725': None, 'neighborhood__725': 'NORTHWEST', 'electricity_kbtu__725': '777836', 'sourceeui_kbtu_sf__725': '86.59999847', 'address__725': '7821 Stone Ave. N.', 'compliancestatus__725': 'Error - Correct Default Data', 'propertygfaparking__725': '0', 'siteeuiwn_kbtu_sf__725': '56.20000076', 'councildistrictcode__725': '6', 'listofallpropertyusetypes__725': 'K-12 School', 'electricity_kwh__725': '227970.7969', 'datayear__725': '2016', 'energystarscore__725': '78', 'state__725': 'WA', 'siteenergyusewn_kbtu__725': '2589620', 'latitude__725': '47.68636', 'secondlargestpropertyusetype__725': None, 'yearbuilt__725': '1930', 'propertygfatotal__725': '47602', 'ghgemissionsintensity__725': '1.76', 'propertyname__725': 'Daniel Bagley Elementary', 'numberofbuildings__725': '1', 'city__725': 'Seattle', 'largestpropertyusetype__725': 'K-12 School'}]
(Background on this error at: https://sqlalche.me/e/20/9h9h)